@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-base), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading: var(--font-retro), ui-sans-serif, system-ui, sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /*  */
  --eigengrau: #16161d;
  --retro-green: #bbffbf;
  --retro-green-dull: #8dc190;
  --retro-green-dullest: #638866;
  --retro-green-dark: #151d15;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    scrollbar-width: thin;
    scrollbar-color: var(--retro-green-dull) var(--retro-green-dark);
    interpolate-size: allow-keywords;

    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background: #2d333b;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #848484;
      border-radius: 20px;
    }
  }
  body {
    @apply bg-background text-foreground;
  }
  /* prettier-ignore */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
  button:not(:disabled) {
    cursor: pointer;
  }
}

main {
  min-height: 100svh;
}

.game-canavs {
  will-change: filter, drop-shadow;
}
.game-canvas.game-canvas-flash {
  /* animation duration set via JS */
  animation: ease forwards;
}
/* Single line - subtle pulse */
.game-canvas.game-canvas-score-multiplier-1 {
  animation-name: flash-1;
}

/* Double - stronger pulse with color shift */
.game-canvas.game-canvas-score-multiplier-2 {
  animation-name: flash-2;
}

/* Triple - pulse + shake */
.game-canvas.game-canvas-score-multiplier-3 {
  animation-name: flash-3;
}

/* Tetris - explosive effect */
.game-canvas.game-canvas-score-multiplier-4 {
  animation-name: flash-4;
}

@keyframes flash-1 {
  0%,
  100% {
    filter: drop-shadow(0 0 0 var(--retro-green-dull));
  }
  50% {
    filter: drop-shadow(0 0 40px var(--retro-green-dull));
  }
}

@keyframes flash-2 {
  0%,
  100% {
    filter: drop-shadow(0 0 0 lime);
  }
  50% {
    filter: drop-shadow(0 0 60px lime) drop-shadow(0 0 80px lime);
  }
}

@keyframes flash-3 {
  0%,
  100% {
    filter: drop-shadow(0 0 0 yellow);
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  50% {
    filter: drop-shadow(0 0 80px yellow) drop-shadow(0 0 100px orange);
  }
}

@keyframes flash-4 {
  0% {
    filter: drop-shadow(0 0 50px red);
    transform: scale(1);
  }
  20% {
    filter: drop-shadow(0 0 100px red) drop-shadow(0 0 150px orange)
      drop-shadow(0 0 200px yellow);
    transform: scale(1.02);
  }
  40% {
    transform: scale(0.98) rotate(-1deg);
  }
  60% {
    transform: scale(1.02) rotate(1deg);
  }
  80% {
    transform: scale(0.99);
  }
  100% {
    filter: drop-shadow(0 0 20px transparent);
    transform: scale(1) rotate(0);
  }
}

.game-stat {
  /* transition duration set via JS to match with timeout  */
  transition-timing-function: ease-out;
  transition-property: border-color, background-color;

  .value {
    transition-duration: inherit;
    transition-timing-function: inherit;
    transition-property: scale;
  }
}

.game-stat.game-stat-flash {
  border-color: var(--color-background);
  background-color: var(--color-foreground);
  .value {
    scale: 1.5;
  }
}

.ui-tetro {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: currentColor;
  transition-property: background-color, box-shadow, transform;
  transition-duration: 0.2s;
  &.J,
  &.L,
  &.T {
    transform: translateY(5px);
  }
  &.S,
  &.Z {
    transform: translateY(-5px);
  }
  &.I {
    transform: translateX(-5px);
    box-shadow:
      -11px 0,
      11px 0,
      22px 0;
  }
  &.J {
    box-shadow:
      -11px 0,
      -11px -11px,
      11px 0;
  }
  &.L {
    box-shadow:
      -11px 0,
      11px -11px,
      11px 0;
  }
  &.O {
    transform: translate(-5px, -5px);
    box-shadow:
      11px 0,
      11px 11px,
      0 11px;
  }
  &.S {
    box-shadow:
      11px 0,
      0 11px,
      -11px 11px;
  }
  &.Z {
    box-shadow:
      -11px 0,
      0 11px,
      11px 11px;
  }
  &.T {
    box-shadow:
      11px 0,
      -11px 0,
      0 -11px;
  }
}

.hourglass-icon {
  animation: hourglass-flip 5s linear infinite;
}

@keyframes hourglass-flip {
  0%,
  40% {
    rotate: 0deg;
  }
  45%,
  90% {
    rotate: 180deg;
  }
  95% {
    rotate: 360deg;
  }
  100% {
    rotate: 360deg;
  }
}

.gameover-bg {
  background: radial-gradient(circle, black, rgba(0, 0, 0, 0.7), transparent);
}
@keyframes explosion {
  0% {
    box-shadow:
      0 0 0 0 currentColor,
      0 0 0 0 currentColor,
      0 0 0 0 currentColor,
      0 0 0 0 currentColor,
      0 0 0 0 currentColor,
      0 0 0 0 currentColor,
      0 0 0 0 currentColor,
      0 0 0 0 currentColor;
  }
  50% {
    background-color: transparent;
    box-shadow:
      35px 35px 3px 1px currentColor,
      35px -35px 2px 1px currentColor,
      -35px 35px 4px 2px currentColor,
      -35px -35px 3px 1px currentColor,
      0 40px 3px 2px currentColor,
      0 -40px 2px 1px currentColor,
      -40px 0 4px 2px currentColor,
      40px 0 3px 1px currentColor;
  }
  100% {
    background-color: transparent;
    box-shadow:
      110px 110px 20px 12px rgba(255, 255, 255, 0),
      90px -100px 18px 10px rgba(255, 255, 255, 0),
      -100px 120px 24px 14px rgba(255, 255, 255, 0),
      -96px -90px 20px 11px rgba(255, 255, 255, 0),
      0 130px 22px 13px rgba(255, 255, 255, 0),
      0 -120px 19px 11px rgba(255, 255, 255, 0),
      -130px 0 23px 13px rgba(255, 255, 255, 0),
      110px 0 20px 12px rgba(255, 255, 255, 0);
    filter: blur(10px);
    opacity: 0;
  }
}

.line-clear-animation {
  div {
    animation-duration: inherit;
  }
  span {
    animation: explosion 1s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
    animation-duration: inherit;
  }
}

.message-bubble {
  --bg-color: #18230f;
  /* --bg-color: #27391c; */
  /* --bg-color: #255f38; */
  /* --bg-color: #1f7d53; */
  background-color: var(--bg-color);
}
.message-bubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12px;
  transform: translateY(100%);
  border: solid transparent;
  border-width: 20px 25px 0 0px;
  border-top-color: var(--bg-color);
}

.message-bubble-opponent {
  --bg-color: green;
}
.message-bubble-opponent::after {
  left: unset;
  scale: -1 1;
  right: 12px;
}

.subtitle {
  transition: 0.25s ease;
  transition-property: margin, opacity;
}
/* hide subtitle when there's a game being played */
.subtitle:has(~ * canvas) {
  margin: -20px;
  opacity: 0;
}

.game-option-buttons {
  transition: margin 0.2s ease;
}
.game-option-buttons button {
  position: relative;
}
.game-option-buttons.hide {
  margin-block: -20px;
  pointer-events: none;
}
.game-option-buttons.hide button {
  transform: translateX(-100%);
  opacity: 0;
}
.game-option-buttons.hide button:last-child {
  transform: translateX(100%);
}
